
.col-form-label{
	width: 150px;
}
.login{
	width: 100px;
}
.col-md-7{
	width: 330px;
}
#login{
	width: 295px;
}
#title{
	text-align: center;
}
.reg_log{
	margin-bottom: 10px;
}
.alert{
	margin-left: 30px;
}
#one{
	width: 250px;
}
#two{
	width: 250px;
}




